BODY {
font-family:"Helvetica, Arial", Times, serif;
}
#wrap {
    width: 100%;

}

#header {
    padding-left: 25px;
}
#container {

  width: 75%;
  height: 75%;
  float: right;
  padding-top: 15px;

}
#sidebar {

  padding-left: 50px;
  float: left;

}
#sidebar li { 
    list-style-type:none; 
      }

#submenu {

    width: 28%;
    float: left;

}
#accordion {
  height: 100%;

}
#map {

    float: right;
    padding-right: 10%;

}

#footer {
  padding-top: 75px;
  padding-left: 50px;
  clear: both; 
}
