<div id="home" class="current">
  <div class="toolbar">
    <h1 id="neighborhood_title">{{ n.name }}</h1>
  </div>
  <div class="info">
    <center><div id="results">Finding Your Current Neighborhood...</div></center>
    <center><div id="status"><img src="/static/img/ajax-loader.gif"></div></center>
  </div>
  <ul class="plastic">
    <li class="arrow"><a href="/local/beer?coords={{ coords }}" id="beer_link">Beer</a></li>
    <li class="arrow"><a href="/local/bike?coords={{ coords }}" id="bike_link">Bikes</a></li>
    <li class="arrow"><a href="/local/coffee?coords={{ coords }}" id="coffee_link">Coffee</a></li>
    <li class="arrow"><a href="/local/pole?coords={{ coords }}" id="pole_link">Pole Dancing Studios</a></li>
    <li class="arrow"><a href="/transit?coords={{ coords }}" id="transit_link">Transit</a></li>
    <li class="arrow"><a href="/local/yoga?coords={{ coords }}" id="yoga_link">Yoga</a></li>
    <li class="arrow"><a href="#map">View Map</a></li>
  </ul>
  
</div>
