<div id="neighborhood_{{ n.slug }}" class="current">
  <div class="toolbar">

{% if name %}
    <h1 id="neighborhood_title">Determining Location{{ n.name }}</h1>
{% else %}
  <h1 id="neighborhood_title">{{ n.name }}</h1>
{% endif %}
{% if quad %}
    <a class="back" href="#browse_by_quad_{{ quad }}">{{ quad }}</a>
{% endif %}
  </div>
  <div class="info" id="results">  </div>
<center>  <div id="status">  </div></center>



  <ul class="plastic">
    <li class="arrow"><a href="/local/beer?coords={{ n.poly.centroid.x }}%2C{{ n.poly.centroid.y }}" id="beer_link">Beer</a></li>
    <li class="arrow"><a href="/local/bike?coords={{ n.poly.centroid.x }}%2C{{ n.poly.centroid.y }}" id="bike_link">Bikes</a></li>
    <li class="arrow"><a href="/local/coffee?coords={{ n.poly.centroid.x }}%2C{{ n.poly.centroid.y }}" id="coffee_link">Coffee</a></li>
    <li class="arrow"><a href="/local/pole?coords={{ n.poly.centroid.x }}%2C{{ n.poly.centroid.y }}" id="pole_link">Pole Dancing Studios</a></li>
    <li class="arrow"><a href="/transit/stops?coords={{ n.poly.centroid.x }}%2C{{ n.poly.centroid.y }}" id="transit_link">Transit</a></li>
    <li class="arrow"><a href="/local/yoga?coords={{ n.poly.centroid.x }}%2C{{ n.poly.centroid.y }}" id="yoga_link">Yoga</a></li>
{% comment %}    <li class="arrow"><a href="#map">View Map</a></li>{% endcomment %}
  </ul>
  
</div>
