

<div id="transit_nearby">
  <div class="toolbar">
    <h1 class="neighborhood_title">Transit</h1>
    <a class="back" href="#neighborhood">pimh</a>
  </div>
  
<ul class="metal">
{% for stop in stops %}
  <li>
    <a href="/transit/stop/{{ stop.loc_id }}/{{ stop.route }}">{{ stop.route }}: {{ stop.dir_desc }}
      <em>{{ stop.location }}</em>
      <small class="counter">({{stop.distance.mi|floatformat }} m)</small></a>
  </li>
{% endfor %}
</ul>
Route and arrival data provided by permission of TriMet
</div>
