<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        <title>Draw Feature Example</title> 
        

        <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" /> 
        <style type="text/css"> 
            #controlToggle li {
                list-style: none;
            }
            p {
                width: 300px;
            }
 
            /* avoid pink tiles */
            .olImageLoadError {
                background-color: transparent !important;
            }
        </style> 
        <script src="http://openlayers.org/api/OpenLayers.js"></script> 
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script> 
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        <script type="text/javascript">

	  $(document).ready(function() {
	  $("a").click(function() {
	  alert(this);
	  });
	  });
	  
            var map, drawControls, polygonLayer;
            function init(){
                map = new OpenLayers.Map('map');
 
	        var gmap = new OpenLayers.Layer.Google("Google Streets", 
	                                 {sphericalMercator: false});


                polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer");
 
                map.addLayers([gmap, polygonLayer]);

 
              drawControls = {
                     polygon: new OpenLayers.Control.DrawFeature(polygonLayer,
                                OpenLayers.Handler.Polygon)
                };

                for(var key in drawControls) {
                    map.addControl(drawControls[key]);
                }

                map.setCenter(new OpenLayers.LonLat(-122.65, 45.53), 11);
	    
                document.getElementById('noneToggle').checked = true;


	  var featurecollection = { 
	  "type": "FeatureCollection",
	        "features": [
	        {% for n in all_n %}
	  { "type": "Feature",
	       "geometry":  {% autoescape off %}{{ n.poly.geojson }}{% endautoescape %},
	     "properties": {}
	  },
	  {% endfor %}
	     ]
	  };
	  

           var geojson_format = new OpenLayers.Format.GeoJSON();
           var vector_layer = new OpenLayers.Layer.Vector(); 
           map.addLayer(vector_layer);
           vector_layer.addFeatures(geojson_format.read(featurecollection));
 
            }// end init

	    function save(form) {
	        var neighb_name = form.neighb_name.value;
	        var neighb_poly = polygonLayer.features[0].geometry.getVertices();
            $.post('diy/create',  {name: form.neighb_name.value, poly: String(neighb_poly) },
	          function(data) {
	             $('result').html(data);
	          });
//	        alert(neighb_name, polygonLayer.features[0].geometry.getVertices());
	    
	    }
            function toggleControl(element) {
                for(key in drawControls) {
                    var control = drawControls[key];
                    if(element.value == key && element.checked) {
                        control.activate();
                    } else {
                        control.deactivate();
                    }
                }
            }
        </script> 
    </head> 
    <body onload="init()"> 
	<img src="/static/pimh-logo.png">
 
        <div id="map" class="smallmap"></div> 
	<form name="diy_neighb" action="" method="post">
	<input type=text name="neighb_name" value="name">

       <INPUT TYPE="button" NAME="button" Value="Click" onClick="save(this.form)">

	</form>
	<div id="result"></div>
        <ul id="controlToggle">
	  <a href="void();" value="polygon" onclick="toggleControl(this);">Draw Polygon</a>
            <li> 
                <input type="radio" name="type" value="none" id="noneToggle"
                       onclick="toggleControl(this);" checked="checked" /> 
                <label for="noneToggle">navigate</label> 
            </li> 
            <li> 
                <input type="radio" name="type" value="polygon" id="polygonToggle" onclick="toggleControl(this);" /> 
                <label for="polygonToggle">draw polygon</label> 
            </li> 
        </ul>
<h2>Our Neighborhoods</h2> 
{% for n in all_n %}
<ul>
  <li><a href="#" id="{{ n.id }}">{{ n.name }}</a></li>
</ul>
{% endfor %}
      
    </body> 
</html> 
