{% extends "base.html" %}
{% block head %}
<script>
 google.load("maps", "2.x");
   
  // Call this function when the page has been loaded
  function initialize() {
    var map = new google.maps.Map2(document.getElementById("map"));
    map.setUIToDefault();

    map.setCenter(new google.maps.LatLng({{ centroid.y }}, {{ centroid.x }}), 13);
    {% for this_n in n %}
       var polygon = new GPolygon({{ this_n.gpoly.points }}, "#f33f00", 5, 1, "#ff0000", 0.2);
       map.addOverlay(polygon);
    {% endfor %}

  }
  google.setOnLoadCallback(initialize);
  
 
</script>
<style>
    body {
        font-family: sans-serif;
    }
    #map {
        width: 500px;
        height: 300px;
    }
</style>
{% endblock %}
{% block title %}Portland is my Homeland: {{ n.name }}{% endblock %}

{% block content %}

    {{ n.name }}

    <div id=map></div>

{% endblock %}



