<!DOCTYPE HTML>
<html>
  <head>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
   <title>Portland is my Homeland</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1.4.1");
    </script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={{ google_api_key }}" type="text/javascript"></script>

    <script src="/static/jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "/static/jqtouch/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "/static/jqtouch/themes/theme.min.css";</style>
    <script src="/static/js/mobile.js" type="application/x-javascript" charset="utf-8"></script>
     
    </head>

  <body>
    <div id="home">
      <div class="toolbar">
	<h1 id="neighborhood_title">Neighborhood</h1>
      </div>
      <div class="info">
	<center><div id="results">Finding Your Current Neighborhood...</div></center>
	<center><div id="status"><img src="/static/img/ajax-loader.gif"></div></center>
      </div>
      <ul class="plastic">
	<li class="arrow"><a href="#" id="beer_link">Beer</a></li>
     	<li class="arrow"><a href="#" id="bike_link">Bikes</a></li>
     	<li class="arrow"><a href="#" id="coffee_link">Coffee</a></li>
     	<li class="arrow"><a href="#" id="pole_link">Pole Dancing Studios</a></li>
	<li class="arrow"><a href="#" id="transit_link">Transit</a></li>
	<li class="arrow"><a href="#" id="yoga_link">Yoga</a></li>
	<li class="arrow"><a href="#map">View Map</a></li>
	<li class="arrow"><a href="#neighborhood" id="neighborhood_link">Neighborhood</a></li>
      </ul>
      
    </div>
    
    <div id="neighborhood">
      <div class="toolbar">
	<h1 id="neighborhood_title">Neighborhood</h1>
        <a class="back" href="#home">pimh</a>
      </div>
      
      <ul class="plastic">
     	
     	<li class="arrow"><a href="#" id="beer_link">Beer</a></li>
     	<li class="arrow"><a href="#" id="bike_link">Bikes</a></li>
     	<li class="arrow"><a href="#" id="coffee_link">Coffee</a></li>
     	<li class="arrow"><a href="#" id="pole_link">Pole Dancing Studios</a></li>
	<li class="arrow"><a href="#" id="transit_link">Transit</a></li>
	<li class="arrow"><a href="#" id="yoga_link">Yoga</a></li>
	<li class="arrow"><a href="#map">View Map</a></li>
      </ul>

      <ul class="plastic">
	<li class="forward">
	  <a href="#" target="_blank" id="wikilink">Wikipedia Page</a>
	</li>
      </ul>
    </div>
    
    <div id="map">
      <div id="mapwrapper" class="draggable">
	<div id="map_canvas" style="width: 100%; height: 415px" class="draggable"></div>
      </div>
    </div>
    
</body>
  
</html>
