<!DOCTYPE HTML>
<html>
  <head>
    <title>Portland is my Homeland</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1.4.1");
    </script>
    <script src="/static/jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "/static/jqtouch/jqtouch.min.css";</style>
    <style type="text/css" media="screen">@import "/static/jqtouch/themes/theme.min.css";</style>
    <script src="/static/js/mobile.js" type="application/x-javascript" charset="utf-8"></script>
</head>

  <body>
    <div id="home">
      <div class="toolbar">
	<h1>Home</h1>
      </div>
      <ul class="edgetoedge">
	<li class="arrow"><a href="#neighborhood">
	    Neighborhood</a></li>
	<li class="arrow"><a href="#transit">Transit</a></li>
	<li class="arrow"><a href="#yoga">Yoga</a></li>
      </ul>
     <center><div id="results">Finding Your Current Neighborhood...</div></center>
     <center><div id="status"><img src="/static/img/ajax-loader.gif"></div></center>
    </div>
    <div id="neighborhood">
      <div class="toolbar">
	<h1>Neighborhood</h1>
                <a class="back" href="#home">pimh</a>
      </div>

    </div>
    <div id="transit">
      <div class="toolbar">
	<h1>Transit</h1>
                <a class="back" href="#home">pimh</a>
      </div>
    </div>
    <div id="yoga">
      <div class="toolbar">
	<h1>Yoga</h1>
                <a class="back" href="#home">pimh</a>
      </div>
    </div>
    <div id="map">
      map
    </div>
  </body>
  
</html>
