{% extends "base.html" %}

{% block title %}Portland is my Homeland{% endblock %}
{% block head %}
<script>
  if (navigator.geolocation) {  
       navigator.geolocation.getCurrentPosition(function(position) {  
 
           $.getJSON('/search?coords=' + position.coords.longitude + '%2C' + position.coords.latitude, 
              function(data) {
                    $('#result').html('<p>Name ' + data.name + ' </p>');
            });
       });
   }

</script>
{% endblock %}


{% block content %}
<div id="result"></div>
{% if neighborhood %}
    {{ neighborhood.name }}
{% endif %}
{% endblock %}



