<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ key }}"></script>
<script type="text/javascript">
   google.load("jquery", "1.4.1");
</script>

    <title>{% block title %}My amazing site{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
