{% extends "base.html" %}
{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<script>
 google.load("maps", "3.x", {other_params: "sensor=true"});
   
  // Call this function when the page has been loaded
 function initialize() {
    var map_options = {
       zoom: {{ zoom }},
       center: new google.maps.LatLng({{ centroid.y }}, {{ centroid.x }}),
       navigationControl: false,
       scaleControl: true,
       mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map"),
                                  map_options);
    


    {% for this_n in n %}
         polygon = new google.maps.Polygon({
             paths: {{ this_n.gpoly }},
             strokeColor: "#FF0000",
             strokeOpacity: 0.8,
             strokeWeight: 2,
             fillColor: "#FF0000",
             fillOpacity: 0.35
                   });
          polygon.setMap(map);
          google.maps.event.addListener(polygon, 'click', function(event) {

                  var contentString = "<b>{{ this_n.name }}</b><br />";

                  // Replace our Info Window's content and position 
                  infowindow.setContent(contentString);
                  infowindow.setPosition(event.latLng);

                  infowindow.open(map);  
                  }
             );
    {% endfor %}

    infowindow = new google.maps.InfoWindow();

  } // ends initialize
 
  google.setOnLoadCallback(initialize);
  if (navigator.geolocation) {  
     navigator.geolocation.getCurrentPosition(function(position) {  
       // alert(position.coords.latitude, position.coords.longitude);  
     });  
  } else {  
    alert("I'm sorry, but geolocation services are not supported by your browser.");  
  }    
 
</script>
<style>
    body {
        font-family: sans-serif;
    }
    #map {
        width: 500px;
        height: 300px;
    }
</style>
{% endblock %}
{% block title %}Portland is my Homeland: {{ title }}{% endblock %}

{% block content %}

    {{ title }}

    <div id=map></div>

{% endblock %}



